/*************** BODY ***************/
body {
  font-family: 'Amaranth', sans-serif;
  margin: 0;
}

/*********** CLASS **************/
.container {
  width: auto;
  margin: auto;
  max-width: 800px;
}

.container-gl {
  padding-left: 20px
}

.container-gr {
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}

.img-left {
  float: left;
  position: relative;
}

.guitar-height {
  height: 190px;
}

.img-right {
  float: right;
  position: relative;
  top: -137px;
}

.btn {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  background: linear-gradient(to right, #ED472A, #F1681C);
  cursor: pointer;
}

.btn-burguer {
  font-size: 16px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  height: 40px;
  background-color: #28556e;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background-color: #DDD;
}

/*************** HEADER **************/
#home {
  position: relative;
}

.logo {
  display: inline-block;
  margin-left: 0;
}

.nav {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.nav li {
  display: inline-block;
  margin-left: 30px;
}

.nav li::before {
  content: "⊸";
}

/*************** TITLE **************/
#title {
  background-image: url('../res/background.png');
  background-size: cover;
  color: white;
  padding: 20px;
  height: 500px;
}

#title a {
  color: white;
  text-decoration: none;
}

#title p {
  font-size: 24px;
  margin-top: 0;
}

#title h1 {
  font-size: 70px;
  margin-bottom: 15px;
  margin-top: 70px;
}

#title span {
  text-decoration: line-through;
}

#title button {
  margin-bottom: 70px;
}

/*************** GUITARS **************/
.guitar {
  margin: 10px 10px 30px 30px;
  padding: 10px;
  border: 1px solid #0A5A6B;
  border-radius: 10px;
}

#guitars {
  color: #1F313C;
  margin-bottom: 60px;
}

#guitars ol {
  padding: 0;
}

#guitars h2 {
  font-size: 35px;
}

#guitars h3 { /* Guitar name */
  font-size: 50px;
  margin-bottom: 10px;
}

/*********** FOOTER **************/
#footer {
  background-color: #1F313C;
  padding: 50px 10px;
}

#footer .container {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contact img {
  display: block;
}

.contact strong {
  display: block;
}

.contact a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.form {
  display: flex;
  width: 400px;
  color: white;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}

.col2 {
  align-items: flex-start;
}

.col2 .btn {
  margin-top: 15px;
}

.form label {
  margin-bottom: 10px;
}

.sex {
  margin-top: 10px;
}

/*********** BUY TABLE **************/
.table {
  margin: 50px 0;
}

table {
  width: 100%;
}

th {
  background-color: #1F313C;
  color: white;
}

th, td {
  padding: 20px;
}

table, th, td {
  border: 1px solid #1F313C;
  border-collapse: collapse;
}

/************* Responsive design for tablet ***************/
@media screen and (max-width: 800px) {
  /* Title page */
  #title h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  #title p {
    font-size: 18px;
  }

  #title {
    height: auto;
  }

  #title .btn {
    margin-bottom: 30px;
    display: inline-block;
  }

  /* Guitars */
  #guitars {
    text-align: center;
  }

  .img-right, .img-left {
    float: none;
    position: static;
  }

  #guitars h3 {
    margin: 0;
  }

  .guitar li {
    list-style: none;
  }

  .guitar.guitar-height {
    height: auto;
  }

  .container-gr {
    margin: 0;
    position: static;
  }

  .container-gl {
    padding: 0;
  }
}

/************* Responsive design for any device after iPad ***************/
@media screen and (max-width: 767px) {
  /* Footer */
  #footer .container {
    display: block;
  }

  .contact {
    margin: 0 auto;
  }

  .form {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .col1 {
    margin: 0;
  }

  input[type="text"], input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"] {
    zoom: 1.4;
  }

  .sex label {
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
    width: 100%;
  }
}

/************* Responsive design for mobile device 650 ***************/
@media screen and (max-width: 650px) {
  /* Header */
  #home {
    text-align: center;
  }

  .nav {
    position: static;
    display: block;
  }

  .nav li:first-child {
    margin: 0;
  }

  .nav ul {
    padding: 0;
  }

  .logo {
    margin: 0;
  }
}

/************* Responsive design for mobile device 500 ***************/
@media screen and (max-width: 500px) {
  /* Header */
  .nav li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .nav li::before {
    display: none;
  }

  .nav li:first-child {
    border-top: 1px solid white;
  }

  #title {
    text-align: center;
  }

  #title h1 {
    font-size: 35px;
  }

  #title p {
    font-size: 16px;
  }

  /* Guitars */
  .guitar img {
    width: 220px;
    height: auto;
  }

  #guitars h3 {
    font-size: 34px;
  }
}
