body {
  font-family: 'Amaranth', sans-serif;
  margin: 0
}

.container {
  width: auto;
  margin: auto;
  max-width: 800px
}

.container-gl {
  padding-left: 20px
}

.container-gr {
  margin-left: 370px;
  position: relative;
  bottom: 90px
}

.img-left {
  float: left;
  position: relative
}

.guitar-height {
  height: 190px
}

.img-right {
  float: right;
  position: relative;
  top: -137px
}

.btn {
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 8px 12px;
  font-size: 16px;
  background: linear-gradient(to right, #ED472A, #F1681C);
  cursor: pointer
}

.btn-nav {
  cursor: pointer;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  height: 40px;
  background-color: #28556e;
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  display: none
}

input,
  textarea {
  outline: 0
}

input:focus, textarea:focus {
  background-color: #DDD
}

#home {
  position: relative
}

.logo {
  display: inline-block;
  margin-left: 0
}

.nav {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0
}

.nav li {
  display: inline-block;
  margin-left: 30px
}

.nav li::before {
  content: "⊸"
}

#title {
  background-color: #3A566B;
  background-image: url(../res/background.png);
  background-size: cover;
  color: #fff;
  padding: 20px;
  height: 500px
}

#title a {
  color: #fff;
  text-decoration: none
}

#title p {
  font-size: 24px;
  margin-top: 0
}

#title h1 {
  font-size: 70px;
  margin-bottom: 15px;
  margin-top: 70px
}

#title span {
  text-decoration: line-through
}

#title button {
  margin-bottom: 70px
}

.guitar {
  margin: 10px 10px 30px 30px;
  padding: 10px;
  border: 1px solid #0A5A6B;
  border-radius: 10px
}

#guitars {
  color: #1F313C;
  margin-bottom: 60px
}

#guitars ol {
  padding: 0
}

#guitars h2 {
  font-size: 35px
}

#guitars h3 {
  font-size: 50px;
  margin-bottom: 10px
}

#footer {
  background-color: #1F313C;
  padding: 50px 10px
}

#footer .container {
  display: flex;
  justify-content: space-between
}

.contact {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center
}

.contact img {
  display: block
}

.contact strong {
  display: block
}

.contact a {
  color: #fff;
  text-decoration: none;
  margin: 10px 10px 10px 0
}

.form {
  display: flex;
  width: 400px;
  color: #fff
}

.col1, .col2 {
  display: flex;
  flex-direction: column
}

.col1 {
  margin-right: 15px
}

.col2 {
  align-items: flex-start
}

.col2 .btn {
  margin-top: 15px
}

.form label {
  margin-bottom: 10px
}

.sex {
  margin-top: 10px
}

.table {
  margin: 50px 0
}

table {
  width: 90%;
  margin: auto
}

th {
  background-color: #1F313C;
  color: #fff
}

th, td {
  padding: 20px
}

table, td {
  border: 1px solid #fff;
  border-collapse: collapse;
  background-color: #1F313C;
  color: #fff
}

th {
  color: #fff;
  background-color: #1b2a33;
  border: 1px solid #fff;
  font-size: 18px
}

.video-demo {
  max-width: 500px;
  margin: 30px auto;
  border: 5px solid #3A566B;
  border-radius: 8px
}

.container-video {
  position: relative;
  padding-top: 56.25%
}

.video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

@media screen and (max-width: 800px) {
  #title h1 {
    font-size: 45px;
    margin-top: 30px
  }
  #title p {
    font-size: 18px
  }
  #title {
    height: auto
  }
  #title .btn {
    margin-bottom: 30px;
    display: inline-block
  }
  #guitars {
    text-align: center
  }
  .img-right, .img-left {
    float: none;
    position: static
  }
  #guitars h3 {
    margin: 0
  }
  .guitar li {
    list-style: none
  }
  .guitar.guitar-height {
    height: auto
  }
  .container-gr {
    margin: 0;
    position: static
  }
  .container-gl {
    padding: 0
  }
}

@media screen and (max-width: 767px) {
  #footer .container {
    display: block
  }
  .contact {
    margin: 0 auto
  }
  .form {
    display: block;
    margin: 0 auto;
    width: 300px
  }
  .col1 {
    margin: 0
  }
  input[type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px
  }
  input[type="radio"] {
    zoom: 1.4
  }
  .sex label {
    font-size: 16px
  }
  textarea {
    font-size: 16px;
    width: 100%
  }
}

@media screen and (max-width: 650px) {
  #home {
    text-align: center
  }
  .nav {
    position: static;
    display: block
  }
  .nav li:first-child {
    margin: 0
  }
  .nav ul {
    padding: 0
  }
  .logo {
    margin: 0
  }
  }

  @media screen and (max-width: 545px) {
  .video-demo {
    margin: 30px 10px
  }
}

@media screen and (max-width: 500px) {
  .btn-nav {
    display: block
  }
  .nav {
    background: rgba(255, 19, 70, 0.8);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 300ms;
  }
  .nav.active {
    left: 0
  }
  .nav ul {
    flex: 1
  }
  .nav li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #fff
  }
  .nav li::before {
    display: none
  }
  .nav li:first-child {
    border-top: 1px solid #fff
  }
  #title {
    text-align: center
  }
  #title .container {
    position: static
  }
  #title h1 {
    font-size: 35px
  }
  #title p {
    font-size: 16px
  }
  .guitar img {
    width: 220px;
    height: auto
  }
  #guitars h3 {
    font-size: 34px
  }
}

@media screen and (max-width: 445px) {
  .description {
    display: none
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #title {
    background-image: url(../res/background2x.png);
    background-size: cover
  }
}
